.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 15px 25px;
}

.embedded .App {
  min-height: 320px;
}
  
.not-embedded .App {
  height: 100vh;
}

.App__headline {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 22px;
  margin-top: 0;
}

.App__summary {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 0;
}
  
.App__call-out {
  color: black;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  
  display: block;
  background-color: #dcf42c;
  padding: 3px 0;
}

.App__placeholder {
  font-size: 18px;
  color: #999;
  font-style: italic;
  max-width: 250px;
  margin: 0 auto;
  line-height: 1.5;
}

@media only screen and (min-width: 320px) {
  .App__headline {
    font-size: 28px;
  }
  
  .App__summary {
    font-size: 18px;
  }
  
  .App__call-out {
    font-size: 22px;
    padding: 10px 20px;
    display: inline-block;
  }

  .App__footer {
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
  }
}
