.CallToAction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 30px 25px;
}

.CallToAction__wrapper {
  position: relative;
}

.CallToAction__accent:before {
  content: '';
  display: block;
  max-width: 187px;

  border-top: 5px solid currentColor;
  border-right: 5px solid transparent;
  margin-bottom: 30px;
  margin-left: 5px;
}

.CallToAction__accent:after {
  content: '';
  display: block;
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid currentColor;

  position: absolute;
  top: -5px;
}

.not-embedded .CallToAction {
  height: 100vh;
}

.CallToAction__headline {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 22px;
  margin-top: 0;
}

.CallToAction__summary {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 18px;

  &:last-child {
    margin-bottom: 0;
  }
}

.CallToAction__call-out {
  color: black;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;

  display: inline-block;
  background-color: #dcf42c;
  padding: 3px 10px;
}

.CallToAction__placeholder {
  font-size: 18px;
  color: #999;
  font-style: italic;
  max-width: 250px;
  margin: 0 auto;
  line-height: 1.5;
}

@media only screen and (min-width: 481px) {
  .CallToAction__headline {
    font-size: 28px;
  }

  .CallToAction__summary {
    font-size: 18px;
  }

  .CallToAction__call-out {
    font-size: 22px;
    padding: 10px 20px;
  }

  .CallToAction__footer {
    margin: 0 auto;
    width: 100%;
  }
}
